.s1Galerie
    display: flex
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 24px
    overflow: hidden
    box-sizing: border-box