// Définir les variables de couleur pour le bouton
@import '../../../index.sass'

.roundButton
  display: flex
  align-items: center
  justify-content: center
  width: 106px
  height: 106px
  border-radius: 50%
  flex-shrink: 0
  cursor: pointer
  text-align: center
  transition: all 0.3s ease

  .roundButton__svg
    width: 100%
    height: 100%
    fill: $beige
    stroke-width: 1px
    stroke: $terra-cotta
    filter: drop-shadow(4px 4px 2px $terra-cotta)

  .roundButton__text
    position: absolute
    color: $terra-cotta
    font-family: 'Marvel', sans-serif
    font-size: 1.5rem
    font-weight: 700
    line-height: normal

  // Effet de survol desktop
  &:hover
    .roundButton__svg
      fill: $terra-cotta

    .roundButton__text
      color: $beige

  // Effet actif (clic) desktop
  &:active
    .roundButton__svg
      fill: $terra-cotta

    .roundButton__text
      color: $beige

// Styles mobiles
@media (max-width: 768px)
  .roundButton
    .roundButton__svg
      filter: drop-shadow(2px 2px 2px $terra-cotta)

    .roundButton__text
      font-size: 1rem
      font-weight: 400

    // Effet de survol mobile
    &:hover
      .roundButton__svg
        fill: $terra-cotta

      .roundButton__text
        color: $beige
        font-weight: 700

    // Effet actif (clic) mobile
    &:active
      .roundButton__svg
        fill: $terra-cotta

      .roundButton__text
        color: $beige
        font-weight: 700