@import '../../../index.sass'
.salonHero
    position: relative
    display: flex
    width:100%
    height: 100vh
    padding: 0px
    justify-content: center
    align-items: center
    flex-shrink: 0
    align-self: stretch
    overflow: hidden // Évite le scroll horizontal
    box-sizing: border-box // Inclut le padding dans la largeur totale
    // Pseudo-élément pour l'image de fond
    &::before 
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        background-image: url('../../../assets/Image/Salon/salon1.webp')
        background-size: cover
        background-position: center
        opacity: 0.2
        z-index: -1
        transform: translateZ(0) scale(1.5) // Scale légèrement l'image pour compenser le mouvement
        will-change: transform
    
    // Parallaxe en fonction du défilement
    @media (min-width: 769px)
        background-attachment: fixed // Fixe l'image par rapport à l'écran pour l'effet parallaxe
        background-position: center
        padding: 18px

    // Animation de parallaxe au scroll
    &::before
        will-change: transform
        transition: transform 0.3s ease-out

.salonHero
    &--parallax::before
        transform: translate3d(0, var(--parallax-offset), 0) // Applique l'offset calculé
h1
    text-align: center